@import '../../styles/variables';

.articles-grid {
	table {
		width: 100%;
		text-align: center;

		td {
			padding: 10px 5px;
		}

		tbody {
			tr {
				&:hover {
					cursor: pointer;
					background: lighten($background, 15);
					border: 1px solid #000000;
				}
			}
		}
	}
}
