@import '../../styles/variables';

.articles-grid {
	.filter-row {
		margin: 20px;
		text-align: center;

		input {
			max-width: 100%;
		}
	}
}

.article-single {
	a {
		text-align: center;
		color: darken($background, 30);

		&:visited {
			color: darken($background, 30);
		}
	}

	&-descr {
		margin: 0 auto;
		width: 60%;
		font-style: italic;
		text-align: justify;
	}
}
