@import '../../styles/variables';

.main-wrapper {
	margin: 0 auto;
	width: 70%;
	min-height: 100vh;
	border: 1px solid darken($background, 10);
	background: lighten($background, 10);

	.content {
		padding: 20px;
	}
}
